<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854476858757-1ilvunsscsbqarn48jc64ud9s8cnt06u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854476858757-1ilvunsscsbqarn48jc64ud9s8cnt06u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>854476858757-1d485bcefk6h46uje1n713soifsha7lj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPpIHhmoXJwExanm2OCEVxml1G87onF14</string>
	<key>GCM_SENDER_ID</key>
	<string>854476858757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibtdi.sheraa</string>
	<key>PROJECT_ID</key>
	<string>sheraa-551d4</string>
	<key>STORAGE_BUCKET</key>
	<string>sheraa-551d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854476858757:ios:fc57965cbb4b7b6bbb10ec</string>
</dict>
</plist>